body {
  margin: 0;
  box-sizing: border-box;
}

.main{
  background-image: url("../assets/site/mapblue.jpg");
  width: 70%;
  overflow: auto;
  float: left;
  min-height: 100vh;
  max-height: 100vh;
}

.side{
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  background-color: #000;
  text-align: center;
  color: #ddd;
}

.side p{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #777;
}

.side h2{
  color: #c60;
}

.one-character{
  width: 10%;
  display: inline-block;
  text-align: center;
  margin: 50px 10px 0 10px;
}

.one-character:hover{
  cursor: pointer;
  border: solid 2px #aae;
}

.one-character p{
  color: #b70;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.one-character p:hover{
  font-style: italic;
  color: #c11;
  font-weight: bolder;
}

.char-picture{
  width: 70%;
}

.char-icon{
  display: inline-block;
}

.char-img:hover{
  transition: 1s;
  transform: scale(1.3);
}

.title{
    max-width: 150px;
}

.title:hover{
  transition: 1s;
  transform: scaleX(1.3);
}

.search-div{
  position: relative;
  margin: 50px 0;
}

.search-bar{
  padding: 2px;
  margin: 0 5px;
  border-radius: 5px;
  line-height: 25px;
}

.search-button{
  background-color: #ccf;
  padding: 2px;
  line-height: 25px;
  border-radius: 5px;
  cursor: pointer;
}